<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tennis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!-- Nav Container-->
        <nav class="navbar">
            <!-- Image with link-->
            <a href="https://www.tennis.com.au/tournaments"><img src="~/TennisLogo.png" alt="Tennis Logo" width="100" height="100"></a>
            <div class="container">
                <ul>
                    <!-- Home-->
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <!-- Drop down selection of choices -->
                        <div class="dropdown">
                            <button class="dropbtn">Players and Organiser Details</button>
                            <div class="dropdown-content">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Players" asp-action="Index">Players</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Organisers" asp-action="Index">Organisers</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Registrations" asp-action="Index">Registrations</a>
                                <a class="nav-link text-dark" asp-area="" asp-controller="RegistrationDetails" asp-action="Index">Registration Details</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <!-- Drop down selection of choices -->
                        <div class="dropdown">
                            <button class="dropbtn">Tournaments and Games</button>
                            <div class="dropdown-content">
                                <a asp-area="" asp-controller="AgeBrackets" asp-action="Index">Age Brackets</a>
                                <a asp-area="" asp-controller="TournamentTypes" asp-action="Index">Tournament Types</a>
                                <a asp-area="" asp-controller="LeagueRatings" asp-action="Index">League Ratings</a>
                                <a asp-area="" asp-controller="Surfaces" asp-action="Index">Surfaces</a>
                                <a asp-area="" asp-controller="Venues" asp-action="Index">Venues</a>
                                <a asp-area="" asp-controller="Tournaments" asp-action="Index">Tournaments</a>
                                <a asp-area="" asp-controller="TournamentBrackets" asp-action="Index">Tournament Brackets</a>
                                <a asp-area="" asp-controller="Matches" asp-action="Index">Matches</a>
                                <a asp-area="" asp-controller="SetResults" asp-action="Index">Set results</a>
                                <a asp-area="" asp-controller="FinaleResults" asp-action="Index">Finale results</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TennisAustraliaAssignment
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
