@model TennisAustraliaAssignment.Models.AgeBracket

@{
    ViewData["Title"] = "Edit";
}
<!-- Header of Page -->
<h1>Edit</h1>
<!-- Header of area -->
<h4>AgeBracket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AgeBracketID" />
            <!-- Age Bracket Name Field -->
            <div class="form-group">
                <label asp-for="AgeBracketName" class="control-label"></label>
                <input asp-for="AgeBracketName" class="form-control" />
                <span asp-validation-for="AgeBracketName" class="text-danger"></span>
            </div>
            <!-- Age Bracket Description field -->
            <div class="form-group">
                <label asp-for="AgeBracketDescription" class="control-label"></label>
                <input asp-for="AgeBracketDescription" class="form-control" />
                <span asp-validation-for="AgeBracketDescription" class="text-danger"></span>
            </div>
            <!-- Save button -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
