@{
    ViewData["Title"] = "Home Page";
}

<body>
    <!-- Name of assignement -->
    <header>
        <h1 class="display-4">Tennis Australia Lab Assignment</h1>
    </header>
    <main>
        <!-- Developer details -->
        <h3>Developed by:</h3>
        <ul>
            <li>
                <p>Student Name: Jayden Hardie</p>
            </li>
            <li>
                <p>Student ID: s4259178</p>
            </li>
            <li>
                <p>Campus: Footscray Park campus</p>
            </li>
        </ul>
    </main>
</body>
