@model TennisAustraliaAssignment.Models.Surface

@{
    ViewData["Title"] = "Create";
}
<!-- Header of Page -->
<h1>Create</h1>
<!-- Header of area -->
<h4>Surface</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- Surface Name Field -->
            <div class="form-group">
                <label asp-for="SurfaceName" class="control-label"></label>
                <input asp-for="SurfaceName" class="form-control" />
                <span asp-validation-for="SurfaceName" class="text-danger"></span>
            </div>
            <!-- Surface Description Field -->
            <div class="form-group">
                <label asp-for="SurfaceDescription" class="control-label"></label>
                <input asp-for="SurfaceDescription" class="form-control" />
                <span asp-validation-for="SurfaceDescription" class="text-danger"></span>
            </div>
            <!-- Save button -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
