@model TennisAustraliaAssignment.Models.FinaleResult

@{
    ViewData["Title"] = "Edit";
}
<!-- Header of Page -->
<h1>Edit</h1>
<!-- Header of area -->
<h4>FinaleResult</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FinaleResultID" />
            <!-- Match ID -->
            <div class="form-group">
                <label asp-for="MatchID" class="control-label"></label>
                <select asp-for="MatchID" class="form-control" asp-items="ViewBag.MatchID"></select>
                <span asp-validation-for="MatchID" class="text-danger"></span>
            </div>
            <!-- Winning registration ID -->
            <div class="form-group">
                <label asp-for="WinRegistrationID" class="control-label"></label>
                <select asp-for="WinRegistrationID" class="form-control" asp-items="ViewBag.RegistrationID"></select>
            </div>
            <!-- Winning Registration Score-->
            <div class="form-group">
                <label asp-for="WinRegistrationFinaleScore" class="control-label"></label>
                <input asp-for="WinRegistrationFinaleScore" class="form-control" />
                <span asp-validation-for="WinRegistrationFinaleScore" class="text-danger"></span>
            </div>
            <!-- Second Registration ID -->
            <div class="form-group">
                <label asp-for="SecondRegistrationID" class="control-label"></label>
                <select asp-for="SecondRegistrationID" class="form-control" asp-items="ViewBag.RegistrationID"></select>
            </div>
            <!-- Second Player score -->
            <div class="form-group">
                <label asp-for="SecondPlayerScore" class="control-label"></label>
                <input asp-for="SecondPlayerScore" class="form-control" />
                <span asp-validation-for="SecondPlayerScore" class="text-danger"></span>
            </div>
            <!-- Sets played -->
            <div class="form-group">
                <label asp-for="SetsPlayed" class="control-label"></label>
                <input asp-for="SetsPlayed" class="form-control" />
                <span asp-validation-for="SetsPlayed" class="text-danger"></span>
            </div>
            <!-- Save button -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
